@exos:registry=https://pkgs.dev.azure.com/ServiceLink/Architecture/_packaging/Exos.DesignSystem/npm/registry/
//pkgs.dev.azure.com/ServiceLink/Architecture/_packaging/Exos.DesignSystem/npm/registry/:username=ServiceLink
//pkgs.dev.azure.com/ServiceLink/Architecture/_packaging/Exos.DesignSystem/npm/registry/:_password=RktRQXZ1dVo5WGlVbjJQMlJHSkZIS084d0pNNUZlVDdKbXFxeGVJOE9jS2NObVR0NjZWMkpRUUo5OUJMQUNBQUFBQWVVbzZVQUFBU0FaRE8xUm55
//pkgs.dev.azure.com/ServiceLink/Architecture/_packaging/Exos.DesignSystem/npm/registry/:email=Sameer.Kotecha@svclnk.com
always-auth=true